{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/styles.css'%}"> <!--CARREGAR CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="sortcut icon" href="{%static 'img/icon.png'%}" type="image/png" />
    <title>Oficina Django</title>
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light"> <!--BARRA DE NAVEGAÇÃO - COPIA E COLA DO GETBOOTSTRAP-->
            <a class="navbar-brand" href="/">Oficina Django</a>
                        <label class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span><a href="/index.html">Posts</a></span>
                            <span><a href="/portifolio.html">Portifólio</a></span>
                            <span><a href="/about.html">About</a></span>
                        </label>
                
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/index.html">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/portifolio.html">Portifólio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about.html">Sobre nós</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a  href="/">Sair</a>
                    </li>
                </ul>
            </div>
          </nav>
            
        {% block content %} <!--herança-->
        {% endblock %} 
        
        
        <footer>
            <p>Oficina Django <br>Projeto WTIc - Universidade Federal de Jataí <br>Instrutor: Murilo Gamers BR</p>
        </footer>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/9330af227c.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/scripts.js' %}" ></script> <!--para carregar scripts que esta na pasta static no caminho 'js/scripts.js'-->
</body>
</html>