{% extends 'base.html' %}
{% load static %}
{% block content %} <!--herança-->
<img src="{% static 'img/home.png' %}" height="500px" width="100%" alt="">

<h1 id="cronogramah1">Cronograma</h1>
<p id="cronogramap">- Apresentação do Blog <br> - Slides <br> - Inicio do Projeto <br></p>
<h1 id="cronogramah1blog">Apresentação do Blog</h1>
<p id="cronogramapblog">Neste momento haverá uma breve apresentação do blog, onde será mostrada todas as suas abas, funcionalidades <br>e código, porém nada muito minuncioso pois o tempo é breve.</p>
<h1 id="cronogramah1slide">Slides</h1>  
<p id="cronogramapslide">Neste momento acontecerá a apresentação de um slide, onde veremos conceitos basicos sobre o Django, <br>estes que são importantes para guiar-nos na criação da aplicação web. </p>
<h1 id="cronogramah1projeto">Inicio do Projeto</h1>
<p id="cronogramapprojeto">Neste momento iremos iniciar nosso projeto Django, onde iremos dar inicio a navegação entre os arquivos <br>e começar nossa reconstrução deste simples blog</p>
{% endblock %}