{% extends 'base.html' %}
{%load static%}
<head>
    <link rel="stylesheet" href="{%static 'css/styles.css'%}">
</head>
{%block content%}
<div class="offset-1 col-10 list-div">
    <h1>Posts</h1>
    <div class="col-9 search-div">
        <input class="form-control" type="text" id="search" name="search" placeholder="Digite o nome do post para buscar">
        <i class="fas fa-search"></i>
    </div>
    <ul class="task-list">
        {% for post in posts %} <!--para aparecer as tarefas do banco de dados no site-->
        <li class="task-item">
            <h1><a href="/post/{{post.id}}">{{post.title}}</a></h1> <!--task.tudo que estiver na classe-->
            <span>{{post.summary|safe}}</span>
        {% endfor %}
    </ul>

</div>


{%endblock%}